body {
  font-family: Arial, sans-serif;
  font-size: 19px;
  line-height: 1.5;
  color: #333;
}

h1 {
  font-size: 24px;
  color: #0070C0;
  font-weight: bold;
  margin-bottom: 10px;
    
}
#boton-secreto {
  display: none;
}



h4 {
  font-size: 18px;
  color: #0070C0;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

a {
  color: blue;
  text-decoration: none;
}
b{
    color: black;
}

a:hover {
  text-decoration: underline;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  border: 1px solid #ccc;
  border-bottom: none;
  padding: 5px 10px;
}

li:last-child {
  border-bottom: 1px solid #ccc;
}

.even {
  background-color: #f2f2f2;
}

.whatsapp-button {
  background-color: #25D366;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}
