.title {
    color: green;
}
h1{
  text-align: center;
}
h1 + p {
  margin-top: 1em;
}
h4{
  text-align: center;
}
p {
  text-align: center;
}

/* Estilos generales */
body {
	font-family: Arial, sans-serif;
    background-color: #E0FFFF ;
}

#boton-secreto {
  display: none;
}






ol {
	margin: 20px;
}
.inicio {
  background-color: purple;
  width: 100%;
  height: 100%;
}
.doxologia {
  background-color: pink;
  width: 100%;
  height: 100%;
  
}
/* Estilos para botones */
.hora-button {
	background-color: purple;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	border-radius: 5px;
	margin: 5px;
	cursor: pointer;
	border: none;
	width: 100%;
	display: block;
	  margin-bottom: 10px;
	  padding: 10px;
	  transition: all 0.3s ease;
}
           
.hora-butto {
	background-color: pink;
	color: black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	border-radius: 5px;
	
	cursor: pointer;
	border: none;
	width: 100%;
	display: block;
	  margin-bottom: 10px;
	  padding: 10px;
	  transition: all 0.3s ease;
}
.hora-button:hover {
	background-color: #3e8e41;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
	ol {
		margin-left: 0;
	}
	.hora-button {
		width: 100%;
		margin: 5px 0;
	}
}

/* Apply a sans-serif font to the whole page */


/* Center the page title */


/* Add some spacing between the page title and the following paragraph */


/* Style the buttons used to toggle the dropdown menus */


/* Style the dropdown menus */
#lista2,
#lista3,
#lista4,
#lista5,
#lista,
#louvor {
  display: none;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-top: 5px;
}

/* Show the dropdown menus when the corresponding button is clicked */
#lista.show,
#lista3.show,
#lista4.show,
#lista2.show,
#lista5.show,
#louvor.show {
  display: block;
}

  /* Estilos para el título de la página */
            h1 {
                text-align: center;
                font-size: 36px;
                margin-bottom: 20px;
            }

            /* Estilos para el párrafo de introducción */
            p {
                text-align: center;
                font-size: 18px;
            }

            /* Estilos para los botones de hora */


            .hora-button:hover {
                background-color: #005c99;
            }
            
            .hora-butto:hover {
                background-color: #005c99;
            }

            /* Estilos para las listas de botones */
            .lista {
                display: none;
                padding-left: 20px;
            }

            .lista button {
                display: block;
                margin-bottom: 5px;
            }
            
             .lista3 {
                display: none;
                padding-left: 20px;
            }
                         .lista4 {
                display: none;
                padding-left: 20px;
            }

            .lista3 button {
                display: block;
                margin-bottom: 5px;
            }
            
            
                        .lista2 {
                display: none;
                padding-left: 20px;
            }

            .lista2 button {
                display: block;
                margin-bottom: 5px;
            }
              .lista4 {
                display: none;
                padding-left: 20px;
            }

            .lista4 button {
                display: block;
                margin-bottom: 5px;
            }
                          .lista5 {
                display: none;
                padding-left: 20px;
            }

            .lista5 button {
                display: block;
                margin-bottom: 5px;
            }

            /* Estilos para las cajas de texto */
            .cajas {
                display: none;
                margin-top: 10px;
                text-align: center;
            }

            .cajas div {
                display: inline-block;
                width: 33%;
                text-align: center;
                padding: 10px;
                box-sizing: border-box;
                border: 1px solid #ccc;
                border-radius: 5px;
                margin-right: 10px;
            }

            .cajas div:last-child {
                margin-right: 0;
            }